@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 120px;
}

body {
  background-color: #000;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
